DATABASE_URL="file:./dev.db"
GROQ_API_KEY=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=""
NEXT_PUBLIC_PADDLE_ENVIRONMENT="sandbox"
PADDLE_API_KEY=""
PADDLE_WEBHOOK_SECRET=""
PADDLE_PRICE_ID=""
PADDLE_ENVIRONMENT="sandbox"
