DATABASE_URL="file:./dev.db"
GROQ_API_KEY=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
PADDLE_API_KEY=""
PADDLE_WEBHOOK_SECRET=""
PADDLE_PRICE_ID=""
PADDLE_ENVIRONMENT="sandbox"
PADDLE_CHECKOUT_URL=""
